@charset "utf-8";

header{
    position:static;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.top-title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #cc588c;
}
#cart-icon{
    font-size: 1.8rem;
    cursor: pointer;
}
.cart{
    position:fixed;
    top: 0;
    right: 0;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
}
.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.halfwidth{
width:50%;
}
.fullwidth{
    width:100%;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #eef8ff;
}
a{
    text-decoration:none;
}
.box{
    width: 300px;
   /*box-shadow: 2px 2px 30px rgba(0,0,0,0.2);*/
	box-shadow: 2px 2px 30px #ffff);
    border-radius:10px;
    overflow: hidden;
}
.slide-img{
    height: 300px;
    position: relative;
}
.slide-img2{
    height: 300px;
    position: relative;
}
.slide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}
.slide-img2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}
.detail-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
	padding-bottom:20px;
    box-sizing: border-box;
    font-family: calibri;
}
.type{
    display: flex;
    flex-direction: column;
}
.type a{
    color:#222222;
    margin:5pxv 0px;
    font-weight: 700;
    letter-spacing:0.5px;
    padding-right: 8px;
}
.type span{
    color:rgba(26,26,26,0.5);
}
.price{
    color: #333333;
    font-weight: 600;
    font-size: 1.1rem;
    font-family:  poppins;
    letter-spacing: 0.5px;
}
.overlay{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(92, 94, 236, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy-btn{
    width:160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #252525;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: calibri;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}
.buy-btn:hover{
    color: #FFFFFF;
    background-color: #f15fa3;
    transition: all ease 0.3s;
}
.overlay{
    visibility: hidden;
    animation: fade 0.5s;
}
.slide-img:hover .overlay{
    visibility: visible;
}
.slide-img2:hover .overlay{
    visibility: visible;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}
h2{
    color: #cc588c;
    padding-left:0px;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
   
}
marquee{
    font-size: 16px;
}